[Unit]
Description=Co2 WebServe

[Service]
User=stan
Type=simple
ExecStart=/usr/bin/python3 /home/stan/Documents/co2_sensor/main.py

[Install]
WantedBy=default.target

